<div class="page-header">
  <h1 id="lab-header">new lab <small><%=@cohort.name%></small></h1>
</div>

<%= form_for [@cohort, @lab] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control"%>

  <%= f.label :repo %>
  <%= f.text_field :repo, class: "form-control" %>
  <br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<%= render partial: "labs/flash_error"%>

