<div class="page-header">
  <h1 id="lab-header"><%= link_to @lab.name, @lab.repo %><%= link_to "get pull requests", pull_requests_path({lab: @lab}), method: "post", remote: true, class: "btn btn-default", id: "get-prs-btn"%> <button class="btn btn-info" id="show-all-prs">show all</button></h1>
</div>


<div id="file-select">
  <%= render partial: "labs/lab_files", locals: {lab: @lab}%>
</div>

<div id="directory-select">
  <%= render partial: "labs/lab_directories", locals: {lab: @lab}%>
</div>

<ul id="pull_request_list">
  <%= render partial: "labs/pull_requests_list", locals: {lab: @lab}%>
</ul>

