<div class="page-header">
  <h1 id="lab-header"><%= @lab.name %><%= button_to "get pull requests", pull_requests_path({lab: @lab}), method: "post", class: "btn btn-default"%></h1>
</div>


<div id="file-select">
  <%= render partial: "labs/lab_files", locals: {lab: @lab}%>
</div>

<ul>
  <%@lab.pull_requests.each do |pull_request|%>
    <li><h3><%= pull_request.student.full_name %></h3></li>
    <%= render partial: "pull_requests/pull_request", locals: {pull_request: pull_request} %>

  <%end%>
</ul>