<!DOCTYPE html>
<html>
  <head>
    <title>FlatironLabTrackr</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'flatiron_school_slashes_transparent_background.png' %>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  </head>

  <body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Flatiron Lab Trackr", root_path, class: "navbar-brand"%>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                <%= link_to "cohorts", cohorts_path%>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_tag '/search', method: 'GET', class: 'navbar-form navbar-left', role: 'search' do %>
                <%= radio_button_tag :type, 'students', checked: true %>
                <%= label_tag :type_students, 'students', class: 'radio-label' %>
                <%= radio_button_tag :type, 'labs' %>
                <%= label_tag :type_labs, 'labs', class: 'radio-label' %>
                <%= collection_select :cohort, :id, Cohort.all, :id, :name, {}, { class: 'cohort-select' } %>
                <%= text_field_tag :query, '', class: 'form-control' %>
                <%= submit_tag 'Search', class: 'btn btn-default' %>
              <% end %>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
